header {
  height: 100vh;
  background-color: #333;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  color: white;
  background: url("img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
header .cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.navbar {
  transition: 0.3s background-color;
}

.navbar-icon {
  fill: rgba(255, 255, 255, 0.6);
}

.footer-icon {
  fill: rgba(0, 0, 0, 0, 0.6);
}

.light {
  background-color: rgba(0, 0, 0, 0.5);
}

#hero {
  position: relative;
  top: 20vh;
  /* bottom: 25vh; */
}

.img-avatar {
  min-width: 150px;
  min-height: 150px;
  width: 200px;
  height: 200px;
  max-width: 250px;
  max-height: 250px;
  /* border-radius: 50%; */
}

@media (min-width: 576px) {
  .img-me {
    background: url("img/me-sm.jpg") no-repeat;
    width: 100%;
    height: 100%;
  }
}

.hobbie {
  /* border: 2px #333 solid; */
  /* border-radius: 3px; */
  font-size: 15px;
  background-color: #fff;
  color: black;
  fill: #333;
  transition: 0.3s background-color;
}
.hobbie:hover {
  background-color: #333;
  color: white;
  fill: #fff;
}

.hobbie-icon {
  padding: 5px 5px;
  margin-right: 12px;
}

.contact-icon {
  height: 60px;
  width: 60px;
}

/* Technical Skills Progress Bar */
.skills_progresses .progress {
  height: 25px;
}
.skills_progresses .progress-bar {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  background-color: #333;
}

.skills_progresses .progress-bar > .progress-type {
  padding-left: 10px;
}

.skills_progresses .progress-meter {
  min-height: 15px;
  border-bottom: 2px solid rgb(160, 160, 160);
}

.skills_progresses .progress-meter > .meter {
  position: relative;
  float: left;
  min-height: 15px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(160, 160, 160);
}

.skills_progresses .progress-meter > .meter-left {
  border-left-width: 2px;
}

.skills_progresses .progress-meter > .meter-right {
  float: right;
  border-right-width: 2px;
}

.skills_progresses .progress-meter > .meter-right:last-child {
  border-left-width: 2px;
}

.skills_progresses .progress-meter > .meter > .meter-text {
  position: absolute;
  display: inline-block;
  bottom: -20px;
  width: 100%;
  font-weight: 700;
  font-size: 0.85em;
  color: rgb(160, 160, 160);
  text-align: left;
}

.skills_progresses .progress-meter > .meter.meter-right > .meter-text {
  text-align: right;
}

/* Projects section style */
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-title {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 99;
  transition: all 0.3s;
}

.hover-description {
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 0;
  text-align: center;
  z-index: 99;
  transition: all 0.3s;
}

.hover-info {
  position: absolute;
  margin-top: 5px;
  margin-right: 5px;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 99;
  transition: all 0.3s;
}

.hover:hover .hover-title {
  transform: translateY(-1.5rem);
}

.hover:hover .hover-description {
  bottom: 0.5rem;
  opacity: 1;
}

.hover:hover .hover-info {
  opacity: 1;
}

.hover:hover .hover-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
}
